*{
margin:0;
padding:0;
	}
	
	#login{
	    padding-top:3%;
	    padding-bottom:2%; 
	    margin-bottom:1px;
	    margin-left:1px;
	    margin-right:1px;
		overflow:hidden;		
		}
    #login form{
   	   text-align:center;    
        }
	#login form input{
	    margin-top:2px;
		margin-bottom:5px;
		}        
	#login form p {
	    font-size:14px;
		} 
	#login form #registrarse{
		font-size:12px;
		}
	#login form #recordar_password{
		font-size:10px;
		padding-bottom:8px;
		}
	
